# Configuración del Sistema Biométrico
FACE_DB_PASSPHRASE=tu_contraseña_maestra_aqui

# Configuración WhatsApp API
WHATSAPP_TOKEN=TU_ACCESS_TOKEN_AQUI
WHATSAPP_PHONE_ID=TU_PHONE_NUMBER_ID_AQUI

# Teléfonos de usuarios para notificaciones (formato: 34XXXXXXXXX)
WHATSAPP_PHONE_ALICE=34600111222
WHATSAPP_PHONE_BOB=34600333444

#TODO: modificar estos parámetros y obtener token y phone ID para la api